*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family:'Roboto', sans-serif;

}
body{
  background-image: url(../EDiTRES/imagen/imagen3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  
}
.contenedor-principal{
  width: 100%;
  max-width: 600px;
  margin: auto;
  position: relative;
    
}
.caja-fondo{
  width: 100%;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  backdrop-filter: blur(10px);
  background-color: rgb(21, 21, 189,0.3);
}
.caja-fondo div{
  margin: 100% 40px;
  color: white;
  transition: all 500ms;
}
.caja-fondo div p,
.caja-fondo div button{
  margin-top: 30px;

}
.caja-fondo div h3{
  font-weight: 400px;
  font-size: 26px;
}
.caja-fondo button{
  padding: 10px 40px;
  border: 2px solid seashell;
  background: transparent;
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
  color: white;
  outline: none;
  transition:  all 30ms;
}
.caja-fondo button:hover{
  background: #fff;
  color: #55acef;
}
.form-login-registro{
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 300px;
  position: relative;
  top: -185px;
  left: 20px;
}
.form-login-registro form{
  width: 100%;
  padding: 80px 20px;
  background: #fff;
  position: absolute;
  border-radius: 20px;

}
.form-login-registro form h2{
  font-size: 30px;
  text-align: center;
  margin-bottom: 15px;
  color: #f17108;
}
.form-login-registro form input{
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  border: none;
  background: rgb(230, 216, 216);
  font-size: 16px;
  outline: none;
}
.form-login-registro form button{
  padding:  10px 40px;
  margin-top: 40px;
  border: none;
  font-size:  14px;
  background: blue;
  color: white;
  cursor: pointer;
  outline: none;
}
.form-login{
  opacity: 1;
  display: block;
}
.form-registro{
  display: none;
}
/* responsi
*/
@media screen and (max-width: 850px){
  main{
    margin-top: 50px;
  }
  .caja-fondo{
    max-width: 350px;
    height: 300px;
    flex-direction: column;
    margin: absolute;
  }
  .caja-fondo{
    margin: 0px;
    position: absolute;
  }
  /* responsi formulario*/
  .form-login-registro{
    top: -10px;
    left: -5px;
    margin: auto;
  }
  .form-login-registro form{
    position: relative;
  }



}

/*
.form-registro{
    width: 250px;
    height: 250px;
    padding: 10px;
    display: flex;  
    position: absolute;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr;
    border-radius: 5px;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    box-shadow: 0 1px, 1px 0 rgba(0, 0, 0, .2);
    background: rgb(241, 204, 191);


}

.registro input{
    width: 100%;
    padding: 5px;
    font-size: 16px;
    margin-bottom: 20px;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom: 1px solid #a8a8a8;
    color: #333;
}
.registro input:active, 
.registro input:focus{
    outline: none;
}
.registro .submit{
    width: 100%;
    padding: 5px;
    background:#f17108;
    color:#fff;
    font-size: 12px;
    box-shadow: 0 0 3px 0 rgba(0,0,0,.2);
    cursor: pointer;
}
.registro::after{
    position: absolute;
    width: 100%;
    height: 25px;
    top: 50%;
    right: -23px;
    padding: 80px 20px;
    text-align: center;
    font-size: 16px;
    background: #f1f1f1;
    box-shadow: -1px 1px 3px 1px rgba(0, 0, 0, .2);
    color: #7c7c7c;
  }

.form-login{
    background-image: linear-gradient(to botton right, beige, red);
    padding: 30px;

}
.form-login h2{
    color: burlywood;
    margin-bottom: 45px;
}
.login button i{
    position: absolute;
    top: 12px; 
    left: 12px;
  }
  .form-login input{
    width:80px;
    padding: 5px;
    position: absolute;
    font-size: 16px;
    margin-bottom: 20px;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom: 1px solid #a8a8a8;
    color: #333;
  } 
  .form-login button{
    width: 250px;
    margin: 15px 0px;
    padding: 5px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .2);
    margin-top: auto;
    cursor: pointer;
    position: relative;
  }
  /* acceder con usuario
  .form-login .user{
    background: #3b5999;
    border-style: none;
    color: #fff;
  }
  .form-login .fb{
    background: #3b5999;
    border-style: none;
    color: #fff;
  }
   
  .form-login .tw{
    background: #55acef;
    border-style: none;
    color: #fff;
  }
   
  .form-login .correo{
    background: #33d4ce;
    border-style: none;
    color: #fff;
  }
 /* @media only screen and (max-width: 240px){
    .login_items{
      display: block;
    }
    
    .registro::after{
      top: unset;
      bottom: -25px;
      left: 50%;
      transform: translateX(-50%) rotate(90deg);
    }
  .login_items{
    width: 80px;
    opacity: 1;
    display:block;
  }*/
